<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'Sing_In!', new_user_session_path %>  | <%= link_to 'Sing_Out!', destroy_user_session_path, method: :delete %>
  <br />
  <a href= "/users/sign_in">Sing In</a> |  <a href= "/users/sign_out" data-method="delete">Sing Out</a>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
